*{
    margin: 0;
    padding: 0;
}

/*CSS HEADER*/
header{
    background: linear-gradient(130deg,rgb(60, 201, 60),rgb(165, 204, 165), rgb(37, 218, 37), rgb(124, 192, 124),rgb(23, 241, 23));
    background-size: 400% 400%;
    animation: BackgroundGradient 120s ease infinite;
    border-radius: 20px;
    margin: 2px 5px;
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 50% 0%;}
}

.kepala{
  width: 550px;
  padding: 30px;
  background: none;
  color: white;
  margin: 0 auto;
}

.kepala img{
    margin-top: -30px;
    float: left;
}
.kepala p{
    color: whitesmoke;
    font-size: 25px;
}
/*AKHIR CSS HEADER*/

/*CSS MENU SIDE*/
nav{ 
    margin-top: 10px;
    width: 200px;
    margin: 5px;
}

nav ul{
	width: 200px;
	list-style: none;
    position: absolute;
    background: linear-gradient(130deg,rgb(60, 201, 60),rgb(165, 204, 165), rgb(37, 218, 37), rgb(124, 192, 124),rgb(23, 241, 23));
    background-size: 400% 400%;
    animation: BackgroundGradient 120s ease infinite;
	border-radius: 10px;
}

nav ul li a{
    align-items: center;
    color: rgb(0, 0, 0);
    display: flex;   
    font-size: 1.15em;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    height: 65px;
    transition: .5s ease;
}

nav ul li a:hover {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
}

nav ul ul  {
    position: absolute;
    left: 200px;
    width: 200px;
    top: 0;
    background: linear-gradient(130deg,rgb(60, 201, 60),rgb(5, 87, 5), rgb(37, 218, 37), rgb(6, 68, 6),rgb(23, 241, 23));
    background-size: 400% 400%;
    animation: BackgroundGradient 120s ease infinite;  
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0,  .1);
    display: none;
}

nav ul li{
    position: relative;
}

nav ul li:hover > ul  {
    display: initial;
}

nav ul ul li{ 
    position: relative;
    display: initial;
}
.kosong1{
    opacity: 1%;
}
.kosong4{
    opacity: 1%;
}
.kosong3{
    opacity: 1%;
}
/*AKHIR MENU SIDE*/

/*CSS BERITA*/
.berita{
    width: auto;
    margin-left: 210px;
    margin-right: 5px;
}

.berita > p{
    font-size: 25px;
    width: 260px;
    margin: auto;
    margin-top: 0px;
    border-bottom: solid;
}
.jadwal ul{
    margin: 10px 0px;
}
.jadwal ul li{
    display: inline-block;
    margin: 0px 70px;
    width: 200px;
}
.jadwal ul li a{
    text-decoration: none;
    color: black;
    margin: 25px;
    padding: 1px;
}

.jadwal ul li > p{
    color: rebeccapurple;
    margin-top: 5px;
}

.saldo {
    background: rgb(211, 211, 211);
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
                15px 15px 15px rgba(0, 0, 0, 0.1),
                inset -5px -5px 5px rgba(255,255,255,0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
    height: 150px;
    width: 1000px;
    display: flex;
    margin-left: 25px;
    margin-top: 26px;

}
.saldo ul li{
    display: inline-block;
    margin: 0px 60px;
    padding: 50px 0px;
    width: 200px;
    text-align: center;
}
.saldo ul li a{
    text-decoration: none;
}

.saldo ul li > p{
    padding-top: 20px;
    font-size: 20px;
}
/*AKHIR CSS BERITA*/

/*CSS NB*/
.nb p{
    margin-left: 239px;
}
/*AKHIR CSS NB*/

/* CSS SLIDER */
.gambar{
    margin-top: 1px;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

/*css manual*/
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: whitesmoke;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/*CSS otomatis*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40d3dc;
}